#add-product-container {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    background-color: #C39898;
    border-radius: 20px;
}

#myForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.category {
    grid-column-start: 1;
    grid-column-end: 3;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.top {
    margin-bottom: auto;
}


.button {
    width: 30%;
    height: 50px;
    background-color: #DBB5B5;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 20px
}

.middle {
    grid-column-start: 1;
    grid-column-end: 3;
}

.error {
    color: red;
    font-size: 12px;
}

@media screen and (max-width: 700px) {

    #add-product-container{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #myForm {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }


    .button {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {

    #add-product-container {
        width: 80%;
    }
}


