#cart-container {
    width: 80%;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8F4E1;
    border: 2px solid #543310;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
}


.image-container {
    background-color: #F8F4E1;
    border: 2px solid #543310;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border: 1px solid #A67B5B;
}

#info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    color: #987070;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 0;
    text-align: center;
}

.info-container div {
    flex-grow: 1;
    line-height: 60px;
    text-align: center;
}

#quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#remove-button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 10px;
}

#remove-button:hover {
    background-color: #e55b5b;
}

.quantity-button {
    background-color: #ECB176;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    line-height: 25px;
    text-align: center;
    font-size: 25px;
}

#checkout-button {
    background-color: #76ec76;
    border: 2px solid #543310;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 130px;
    height: 35px;
    line-height: 25px;
    text-align: center;
    font-size: 25px;
    align-self: center;
    margin-top: 20px;
}

#checkout-button:hover {
    background-color: #5be55b; /* Verde più scuro al passaggio */
}



@media screen and (max-width: 700px) {

    .product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 10px;
        margin-bottom: 5px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    #info-container {
        align-items: center;
        min-width: 60px
    }

}