body {
    box-sizing: border-box;
    margin: 0;
    border: none;
    user-select: none;
    background-color: #F1E5D1;
}

.message {
    position: fixed;
    top: 110px;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
