#home-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: self-start;
    justify-items: center;
    margin-top: 50px;
    height: auto;
}

#categories-container {
    background-color: #F8F4E1;
    border: 2px solid #543310;
    border-radius: 15px;
    height: 500px;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-x: hidden;
    color: white;
}

#categories-banner {
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 26px;
    line-height: 40px;
    color: #987070;
}

.category {
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    background-color: #DBB5B5;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid #543310;
    box-sizing: border-box;
}

#products-container {
    background-color: #F8F4E1;
    border: 2px solid #543310;
    border-radius: 15px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    flex-wrap: wrap;
    overflow: hidden;
}

.product-container{
    height: 210px;
    width: 160px;
    border: 2px solid #A67B5B;
    background-color: #EADBC8;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.image {
/*    width: 100%;*/
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.please {

    width: 150px;
    height: 120px;
    object-fit: cover;
    object-position: center;
}

.product-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    color: #543310;
}

#admin-button {
    background-color: #9c7676;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 160px;
}

#admin-button:hover {
    background-color: #896262;
}

#button-container {
    width: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    #home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

    }

    #categories-container {
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        color: white;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .category {
        width: 100px
    }

    #products-container {
        height: 100%;
    }

}
