#myInformations-container {
    width: 60%;
    background-color: #C39898;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.button {
    width: 60%;
    height: 50px;
    background-color: #DBB5B5;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
}

#modify-form {
    text-align: center;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto auto;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.tableRow {
    width: 300px;
}

.tableRowButton {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 300px;
    font-size: 20px;
}

.error {
    color: red;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

#payment-methods-container {
    background-color: #DBB5B5;
    border: 2px solid #543310;
    border-radius: 15px;
    height: fit-content;
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    margin-top: 20px;
}

.payment-method-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    color: #543310;
    font-size: 18px;
    border: 2px solid #A67B5B;
    background-color: #F1F1F1;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
}


@media screen and (max-width: 950px) {
    #myInformations-container {
        width: 90%;
    }

    #modify-form {
        grid-template-columns: none;
        grid-template-rows: repeat(7, auto);
        width: 100%;
    }

    .tableRowButton {
        width: 100%;
    }

    .button {
        width: 50%;
    }

    #payment-methods-container {
        width: 100%;
    }
}